@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'utils';

input,
textarea,
select,
button {
  border: 1px solid black;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

