@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 800;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 900;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-Black.ttf') format('truetype');
}
